/*!*------------------- 메인 콘텐츠 -------------------*!*/
/*main {*/
/*  display: flex;*/
/*  flex-wrap: wrap;              !* 한줄 다 차면 다음 줄로 *!*/
/*  gap: 20px;*/
/*  margin-top: 56px;*/
/*  margin-left: 240px;*/
/*  padding: 16px;*/
/*  color: white;*/
/*  background-color: black;*/
/*  min-height: calc(100vh - 56px);*/
/*  width: calc(100% - 240px);    !* main 크기 확장 *!*/
/*}*/
/*-----------------상단바-----------------*/
.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
}

.left-menu span {
  font-weight: bold;
  color: white;
  font-size: 20px;
  margin-left: 12px;
}

.right-menu span {
  cursor: pointer;
}

.rm-btn {
  color: blue;
  background-color: black;
  font-size: 13px;
  border: none;
  border-radius: 50%;
  height:36px;
  width: 36px;
}
.rm-btn:hover {
  background-color: #87CEEB;
}

.list-btn {
  color: white;
  background-color: black;
  font-size: 15px;
  border: none;
  border-radius: 50%;
  height:36px;
  width: 36px;
}
.list-btn:hover {
  background-color: #222;
}


/*.content {*/
/*  width: 360px;*/
/*  margin: 10px;*/
/*  font-family: Arial, sans-serif;*/
/*  cursor: pointer;*/
/*}*/

/*!* 썸네일 카드 *!*/
/*.thumbnail {*/
/*  width: 100%;*/
/*  height: auto;*/
/*  border-radius: 10px;*/
/*}*/
/*.video-meta {*/
/*  display: flex;*/
/*  margin-top: 10px;*/
/*}*/
/*.video-info {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  margin-left: 15px;*/
/*}*/
/*.video-title {*/
/*  font-size: 16px;*/
/*  font-weight: bold;*/
/*  color: #fff;*/
/*  margin: 0;*/
/*}*/
/*.video-producer,*/
/*.video-update {*/
/*  font-size: 14px;*/
/*  color: #aaa;*/
/*  margin: 2px 0 0 0;*/
/*}*/
/*.producer-img {*/
/*  width: 32px;*/
/*  height: 32px;*/
/*  border-radius: 50%;*/
/*  object-fit: cover;*/
/*}*/
