/*!*------------------- 메인 콘텐츠 -------------------*!*/
/*main {*/
/*  display: flex;*/
/*  flex-wrap: wrap;              !* 한줄 다 차면 다음 줄로 *!*/
/*  gap: 20px;*/
/*  margin-top: 56px;*/
/*  margin-left: 240px;*/
/*  padding: 16px;*/
/*  color: white;*/
/*  background-color: black;*/
/*  min-height: calc(100vh - 56px);*/
/*  width: calc(100% - 240px);    !* main 크기 확장 *!*/
/*}*/
/*-----------------상단바-----------------*/
.menu-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0;
  box-sizing: border-box;
}

.left-menu p {
  font-weight: bold;
  color: white;
  font-size: 23px;
  margin-left: 12px;
}

.rm-btn {
  color: dodgerblue;
  background-color: black;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  height:36px;
  width: 50px;
  text-align: center;
}
.rm-btn:hover {
  background-color: #152b44;
  border: none;
}

.list-btn {
  color: white;
  background-color: black;
  font-size: 15px;
  border: none;
  border-radius: 50%;
  height:36px;
  width: 36px;
}

.subpage-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
}
.subpage-left {
  display: flex;
  align-items: center;
  gap: 16px; /* 이미지와 텍스트 사이 간격 */
}

.subpage-left img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* 원형으로 만들고 싶다면 */
  object-fit: cover;
}
.subpage-ep p {
  font-size: 13px;
  margin-bottom: 0;
  color: #777777;
}
.subpage-right button {
  background-color: #333333;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  font-size: 13px;
}
.subpage-right button:hover {
  background-color: #555555;
}



/*.content {*/
/*  width: 360px;*/
/*  margin: 10px;*/
/*  font-family: Arial, sans-serif;*/
/*  cursor: pointer;*/
/*}*/

/*!* 썸네일 카드 *!*/
/*.thumbnail {*/
/*  width: 100%;*/
/*  height: auto;*/
/*  border-radius: 10px;*/
/*}*/
/*.video-meta {*/
/*  display: flex;*/
/*  margin-top: 10px;*/
/*}*/
/*.video-info {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  margin-left: 15px;*/
/*}*/
/*.video-title {*/
/*  font-size: 16px;*/
/*  font-weight: bold;*/
/*  color: #fff;*/
/*  margin: 0;*/
/*}*/
/*.video-producer,*/
/*.video-update {*/
/*  font-size: 14px;*/
/*  color: #aaa;*/
/*  margin: 2px 0 0 0;*/
/*}*/
/*.producer-img {*/
/*  width: 32px;*/
/*  height: 32px;*/
/*  border-radius: 50%;*/
/*  object-fit: cover;*/
/*}*/
