/* body 스타일 */
body {
  margin: 0;
  display: flex;
  background-color: #121212;
  color: white;
  font-family: sans-serif;
}

/*상단바*/
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;                       /* 사이드바 보다 높게 */
  display: flex;                       /* 가로 정렬 */
  justify-content: space-between;      /* 좌/우 정렬 */
  align-items: center;                 /* 세로 중앙 정렬 */
  padding: 8px 16px;
  height: 56px;
  background-color: white;
  border-bottom: 1px solid #ddd;
  background-color: black;
  border-bottom: none;
}

.left, .center, .right {
  display: flex;
  align-items: center;
}

.center {
  flex: 1;
  justify-content: center;
  gap: 8px;
}

.right {
  gap: 16px;
}

/*상단바(left) 스타일*/
/*햄버거바*/
.menu-btn {
  width: 36px;
  height: 36px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
}
.menu-btn:hover {
  background-color: #333;
  border-color: #555;
}

/*로고 이미지*/
.logo-img {
  width: 140px;
  height: auto;
  cursor: pointer;
}


/*상단바(center) 스타일*/
.center {
  display: flex;
  align-items: center;
}
.search-bar {
  width: 500px;
  height: 36px;
  padding: 0 10px;
  border: 1px solid #383838;
  border-right: none;               /*버튼과 겹치는 부분 제거*/
  border-radius: 20px 0 0 20px;     /*왼쪽만 둥글게*/
  background-color: black;
  outline: none;
  font-size: 14px;
  color: white;
}
.search-btn {
  margin-left: -10px;
  color: white;
  height: 36px;
  width: 60px;
  border: 1px solid #383838;
  border-left: none;                /*입력창과 겹치는 부분 제거*/
  border-radius: 0 20px 20px 0;     /*오른쪽만 둥글게*/
  background-color: #383838;
  cursor: pointer;
}
.voice-btn {
  margin-left: 5px;
  color: white;
  background-color: #383838;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
}
.voice-btn:hover {
  background-color: #555;
  border-color: #666;
}

/*상단바(right) 스타일*/
.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
.make-btn {
  color: white;
  background-color: #383838;
  border: none;
  border-radius: 20px 20px 20px 20px;
  width: 90px;
  height: 36px;
}
.make-btn:hover {
  background-color: #555;
  border-color: #666;
}
.bell-btn  {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  height:36px;
  width: 36px;
}
.bell-btn:hover {
  background-color: #222;
  border-color: #555;
}

/*프로필 이미지*/
#profileimg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

/*사이드 바*/
.sidebar {
  position: fixed;
  top: 56px;              /* 상단바 높이만큼 내리기 */
  left: 0;
  z-index: 500;           /* 상단바보다 낮게 */
  width: 240px;
  height: calc(100vh - 56px);
  background-color: black;
  padding: 0px 10px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 5px;
}
.sidebar li {
  margin:  0;
}
.sidebar a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
/*사이드바 버튼*/
.sidebar button {
  width: 100%;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.sidebar button:hover {
  background-color: #333;
  border-radius: 8px;
}
